/* Variables */

:root {
  --font-white: #FFFFFF;
  --font-black: #000000;
  --font-dark: #323232;
  --font-grey: #5A5A5A;
  --background-1: #849D8F;
  --background-2: #8996A6;
  --background-3: #9D8B84;
  --underlay: rgba(255, 255, 255, 0.2);
  --shadow-four-tenth: rgba(0, 0, 0, 0.4);
  --light-gray-border: rgba(50, 50, 50, 0.2);
  --menu-hover: #FBDED7;
  --menu-active: #F6B5A5;
  --sub-menu-current: #D07058;
  --navigation-current: #D07058;
  --navigation-active: #EDEDED;
  --navigation-active-shadow: #696969;
  --popup-background: #F8F7F4;
  --inputs-border: #D3D3D2;
  --placeholder-color: #999999;
  --button-gradient-start: #F26843;
  --button-gradient-end: #E74A35;
  --links-action-dark: #FFBC9E;
  --links-action-light: #E84D37;
  --links-action-light-underlining: rgba(232, 77, 55, 0.3);
  --orange-button-shadow: rgba(172, 16, 0, 0.25);
  --orange-button-hovered-shadow: #AC1000;
  --white-one-fifth: rgba(255, 255, 255, 0.2);
  --black-invisible: rgba(0, 0, 0, 0.07);
  --orange-box-shadow-active: #942718;
}


/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* Background */

.background-one {
  background-color: var(--background-1, #849D8F);
}

.background-two {
  background-color: var(--background-2, #8996A6);
}

.background-three {
  background-color: var(--background-3, #9D8B84);
}

.background-highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Header */

.main-header {
  display: flex;
  flex-direction: column;

  padding-top: 9px;
  margin-bottom: -7px;
}

.main-header .logo {
  margin-right: 11px;
}

.top-menu {
  display: flex;
  justify-content: space-between;

  margin-bottom: -3px;
}

.left-menu {
  display: flex;
}

.main-navigation {
  padding-top: 13px;
}

.main-navigation ul {
  display: flex;

  list-style: none;

  padding: 0;
  margin: 0;
}

.main-navigation li {
  position: relative;
  margin-right: 7px;
}

.main-navigation a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--font-white, #FFFFFF);

  border-radius: 16px;

  padding-top: 7px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.main-navigation a:hover {
  color: var(--font-black, #000000);
  background-color: var(--font-white, #FFFFFF);
  border: none;
}

.main-navigation a:active {
  color: var(--font-black, #000000);
  background-color: var(--navigation-active, #EDEDED);
  box-shadow: inset 0px 2px 1px var(--navigation-active-shadow, #696969);
  border: none;
}

.main-navigation a.current {
  color: var(--font-white, #FFFFFF);
  background-color: var(--navigation-current, #D07058);
}

a.current span {
  border: none;
}

.main-navigation span {
  border-bottom: 1px solid var(--underlay, rgba(255, 255, 255, 0.2));
}

.dropdown-container {
  display: none;
  position: absolute;
  top: 30px;
  left: -7px;
  z-index: 1;

  padding-top: 7px;
}

.dropdown-button .dropdown-content {
  display: flex;
  flex-direction: column;

  border-radius: 4px;
  background-color: var(--font-white, #FFFFFF);
  box-shadow: 0px 20px 20px var(--shadow-four-tenth, rgba(0, 0, 0, 0.4));

  padding: 0;
  padding-top: 4px;
  padding-bottom: 3px;
  margin: 0;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  color: var(--font-black, #000000);

  padding: 0;
  margin: 0;

  border-radius: 0;
  white-space: nowrap;

  padding-top: 6px;
  padding-right: 21px;
  padding-bottom: 5px;
  padding-left: 21px;

  margin-bottom: 4px;
}

.dropdown-content a:hover {
  background-color: var(--menu-hover, #FBDED7);
}

.dropdown-content a:active {
  background-color: var(--menu-active, #F6B5A5);
  box-shadow: none;
}

.dropdown-content a.current {
  background-color: var(--sub-menu-current, #D07058);
}

.dropdown-content .new {
  position: relative;
  margin-bottom: 7px;
}

.new a {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.dropdown-content .new:after {
  position: absolute;
  left: 6px;
  content: "";
  width: 128px;
  height: 1px;
  background-color: var(--light-gray-border, rgba(50, 50, 50, 0.2));
}

.dropdown-button:hover .dropdown-container {
  display: block;
}

.right-menu {
  display: flex;
  padding-top: 14px;
}

.search {
  position: relative;
  margin-right: 10px;
}

.search svg {
  background-color: var(--underlay, rgba(255, 255, 255, 0.2));

  border-radius: 15px;
  padding: 8px;
}

.search:hover svg {
  background-color: var(--font-white, #FFFFFF);
}

.search:hover path {
  fill: var(--font-dark, #323232);
}

.search .search-container {
  display: none;
}

.search:hover .search-container {
  display: block;
  position: absolute;
  top: 30px;
  left: -310px;
  z-index: 1;

  padding-top: 6px;
}

.search form {
  background-color: var(--popup-background, #F8F7F4);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--shadow-four-tenth, rgba(0, 0, 0, 0.4));
  padding: 20px 15px;
}

.search input {
  width: 311px;
  border: 1px solid var(--inputs-border, #D3D3D2);
  border-radius: 4px;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 14px;
}

.search input::placeholder {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder-color, #999999);
}

.login {
  position: relative;
  margin-right: 10px;
}

.cart {
  position: relative;
}

.login svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.cart svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.login a,
.cart.empty a,
.cart:not(.empty) a {
  display: block;

  font-size: 14px;
  line-height: 16px;
  color: var(--font-white, #FFFFFF);

  border-radius: 16px;
  background-color: var(--underlay, rgba(255, 255, 255, 0.2));

  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 45px;
}

.cart:not(.empty) a {
  color: black;
  background-color: white;
}

.login .login-container {
  display: none;
}

.login:hover a,
.cart.empty:hover a {
  color: var(--font-black, #000000);
  background-color: var(--font-white, #FFFFFF);
}

.cart:not(.empty) path:not(.cart-fill) {
  fill: var(--font-black, #343434);
}

.cart:not(.empty) .cart-fill {
  fill: #E84D37;
}

.login:hover path,
.cart.empty:hover path:not(.cart-fill) {
  fill: var(--font-black, #000000);
}

.login a:first-child:active,
.cart.empty:active a,
.cart:not(.empty):active a {
  color: var(--font-black, #000000);
  background-color: var(--navigation-active, #EDEDED);
  box-shadow: inset 0px 2px 1px var(--navigation-active-shadow, #696969);
  border: none;
}

.login:hover .login-container {
  display: block;
  position: absolute;
  top: 30px;
  left: -186px;
  z-index: 1;

  padding-top: 6px;
}

.login-form {
  display: flex;
  flex-direction: column;

  background-color: var(--popup-background, #F8F7F4);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--shadow-four-tenth, rgba(0, 0, 0, 0.4));
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 22px;
  padding-left: 19px;
}

.login-form input {
  width: 241px;
  box-sizing: border-box;
  border: 1px solid var(--inputs-border, #D3D3D2);
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 14px;

  margin-bottom: 20px;
}

.login-form input::placeholder {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder-color, #999999);
}

.login-form-bottom {
  display: flex;
}

.login-form-bottom .orange-button {
  font-size: 18px;
  line-height: 18px;

  border: none;
  border-radius: 26px;
  box-shadow: 0px 1px 2px var(--orange-button-shadow, rgba(172, 16, 0, 0.25));

  padding-top: 11px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 25px;
  margin-right: 20px;
}

.login-form-bottom .orange-button:hover,
.login-form-bottom .orange-button:focus {
  background: linear-gradient(0deg, var(--white-one-fifth, rgba(255, 255, 255, 0.2)), var(--white-one-fifth, rgba(255, 255, 255, 0.2))),
   linear-gradient(180deg, var(--button-gradient-start, #F26843) 0%, var(--button-gradient-end, #E74A35) 100%);
   box-shadow: 0px 1px 2px var(--orange-button-hovered-shadow, #AC1000);
}

.login-form-bottom .orange-button:focus {
  outline: none;
}

.login-form-bottom .orange-button:active {
  background: linear-gradient(0deg, var(--black-invisible, rgba(0, 0, 0, 0.07)), var(--black-invisible, rgba(0, 0, 0, 0.07))),
   linear-gradient(180deg, var(--button-gradient-start, #F26843) 0%, var(--button-gradient-end, #E74A35) 100%);
  box-shadow: inset 0px 2px 2px var(--orange-box-shadow-active, #942718);
}

.login-form-links {
  padding-top: 1px;
}

.login-form-links a:first-of-type,
.login-form-links a:last-of-type {
  display: inline-block;
  height: auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 15px;


  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid var(--light-gray-border, rgba(50, 50, 50, 0.2));

  padding: 0;
  margin-bottom: 4px;
}

.login-form-links a:hover,
.login-form-linls a:active {
  color: var(--links-action-light, #E84D37);
  border-bottom: 1px solid var(--links-action-light-underlining, rgba(232, 77, 55, 0.3));
}

.cart-container {
  position: absolute;
  display: none;
  top: 30px;
  left: -421px;
  z-index: 1;

  padding-top: 6px;
}

.cart:not(.empty):hover .cart-container {
  display: block;
}

.cart-dropdown {
  width: 539px;
  box-sizing: border-box;

  font-size: 13px;
  line-height: 16px;

  background-color: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 21px;
  padding-left: 21px;
}

.cart-content {
  list-style: none;
  position: relative;

  padding: 0;
  padding-bottom: 16px;
  margin: 0;
}

.cart-content::after {
  position: absolute;
  left: -6px;
  bottom: 0;
  content: "";
  width: 510px;
  height: 1px;
  background-color: #CACAC7;
}

.cart-content li {
  display: flex;
  margin-bottom: 20px;
}

.cart-content li:last-of-type {
  margin-bottom: 0;
}

.cart-content .small-cross {
  width: 11px;
  height: 11px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 0;
  margin-top: 10px;
  margin-right: 9px;
}

.cart-content .item-image {
  width: 33px;
  height: 33px;
  margin-right: 13px;
}

.cart-content .item-name-price {
  display: flex;
  padding-top: 9px;
}

.cart-content p {
  margin: 0;
}

.cart-content .item-name {
  width: 216px;
  margin-right: 31px;
}

.cart-content .weight {
  color: black;
  margin-right: 26px;
}

.weight span {
  color: #ABABAB;;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 16px;
}

.cart-bottom p {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: #323232;

  margin: 0;
  margin-bottom: 15px;
}

.cart-bottom span:not(.total-price) {
  margin-right: 6px;
}

.cart-bottom .orange-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  border: none;
  border-radius: 26px;
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);

  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
}

.cart-bottom .orange-button:focus,
.cart-bottom .orange-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
  outline: none;
}

.cart-bottom .orange-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.home-bottom-menu {
  display: flex;
  justify-content: flex-end;
}

.inner-bottom-menu {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  list-style: none;
  display: flex;

  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);;
}

.breadcrumbs li:not(:last-of-type)
{
  position: relative;
  margin-right: 23px;
}

.breadcrumbs li:not(:last-of-type)::after {
  position: absolute;
  top: 5px;
  right: -15px;
  content: "";
  width: 6px;
  height: 6px;
  background-image: url("../img/arrows.svg");
}

.contact-information p {
  padding: 0;
  margin: 0;
}

.contact-information span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--font-white, #FFFFFF);

  margin-left: 18px;
  margin-bottom: 8px;
}

.contact-information a {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: var(--font-white, #FFFFFF);
}

.contact-information a:hover,
.contact-information a:active {
  color: #FFBC9E;
}

/* Catalog */

.page-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: white;

  margin-bottom: 27px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;

  width: 869px;
}

.sorting {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 16px;
}

.sorting label {
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding-left: 17px;
  margin-bottom: 7px;
}

.sorting select {
  font-size: 16px;
  line-height: 18px;
  color: white;

  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 171px 12px;

  -webkit-appearance: none;
  appearance: none;

  padding-top: 7px;
  padding-right: 34px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.price-selector {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

.price-selector legend {
  font-size: 14px;
  line-height: 16px;
  color: white;

  padding-left: 17px;
  margin-bottom: 7px;
}

.range-controls {
  width: 218px;
  height: 35px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 15px;
  padding-right: 21px;
  padding-left: 21px;
}

.range-controls .scale {
  position: relative;
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 57%;
  height: 2px;
  background-color: #F8F7F4;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow, #ABABAB);
  background-color: #ABABAB;
  border: 8px solid #FFFFFF;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: calc(14% - 10px);
}

.range-controls .toggle-max {
  left: calc(69% - 10px);
}

.fat-selector {
  border: none;
  padding: 0;
  margin: 0;
}

.fat-selector legend {
  font-size: 14px;
  line-height: 16px;
  color: white;

  padding-left: 17px;
  margin-bottom: 7px;
}

.fat-selector ul {
  display: flex;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 9px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 44px;
  margin: 0;
}

.fat-selector li:not(:last-of-type) {
  margin-right: 48px;
}

.fat-selector label{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.fat-selector label::before {
  position: absolute;
  top: -2px;
  left: -33px;
  width: 22px;
  height: 22px;
  content: url("../img/radio-off.svg");
}

.fat-selector input:hover + label::before,
.fat-selector input:focus + label::before {
  content: url("../img/radio-off-hover.svg");
}

.fat-selector input:disabled + label::before {
  content: url("../img/radio-off-blocked.svg");
}

.fat-selector input:checked + label::before {
  content: url("../img/radio-on.svg");
}

.fat-selector input:checked:hover + label::before,
.fat-selector input:checked:focus + label::before {
  content: url("../img/radio-on-hover.svg");
}

.fat-selector input:checked:disabled + label::before {
  content: url("../img/radio-on-blocked.svg");
}

.fat-selector input {
  -webkit-appearance: none;
  appearance: none;
}

.catalog-section ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-section li {
  margin-bottom: 29px;
}

.catalog-section article {
  padding-top: 209px;
}

/* Promo */

.promo-section {
  margin-bottom: 40px;
}

.promo-slider {
  position: relative;
  margin-bottom: 40px;
}

.slider-list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.promo-slide {
  display: none;
  position: relative;
}

.promo-slide.current {
  display: block;
}

.promo-slide article {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 273px;
}

.slider-list h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: var(--font-white, #FFFFFF);
  text-align: center;

  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.promo-slide img {
  position: absolute;
  z-index: -1;
  top: -124px;
}

.promo-slide a {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 31px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);

  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.promo-slide a:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.promo-slide a:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.slider-dots {
  position: absolute;
  bottom: 21px;
  left: 102px;
  display: flex;

  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-dots button {
  width: 21px;
  height: 21px;

  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid var(--font-white, #FFFFFF);
  border-radius: 50%;

  padding: 0;
  margin-right: 8px;
}

.slider-dots .current {
  background-color: var(--font-white, #FFFFFF);;
}

.slider-dots button:hover {
  cursor: pointer;
}

.slider-dots button:not(.current):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-dots button:hover:active {
  background-color: var(--font-white, #FFFFFF);
}

.promo-cards {
  display: flex;

  list-style: none;

  padding: 0;
}

.promo-cards li {
  width: 560px;
  border-radius: 16px;
}

.promo-cards li:first-of-type {
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  margin-right: 26px;
}

.promo-cards li:last-of-type {
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
}

.promo-cards article {
  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 16px;
}

.promo-cards h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: var(--font-white, #FFFFFF);

  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.promo-cards p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: var(--font-white, #FFFFFF);

  padding: 0;
  margin: 0;
  margin-bottom: 42px;
}

.card-bottom-container {
  display: flex;
  justify-content: flex-end;
}

.promo-cards a {
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  display: block;
  border-radius: 24px;

  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 22px;
}

.promo-cards .orange-button:focus,
.promo-cards .orange-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
  outline: none;
}

.promo-cards .orange-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* Popular */

.popular-section {
  margin-bottom: 33px;
}

.popular-section ul {
  display: flex;
  justify-content: space-between;

  list-style: none;

  padding: 0;
  margin: 0;
}

.popular-item {
  position: relative;
  width: 267px;
  box-sizing: border-box;
}

.popular-item:hover .card-container {
  position: absolute;
  top: -6px;
  left: -12px;
  right: -12px;

  z-index: 2;

  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 22px;
  padding-left: 12px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.popular-item  article{
  display: flex;
  flex-direction: column;

  margin-bottom: 7px;
}

.popular-item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.popular-item:hover img {
  top: 6px;
  left: 12px;
}

.hit-icon {
  order: 1;

  width: 61px;
  height: 61px;
  background-image: url("../img/hit-icon.svg");
  background-repeat: no-repeat;

  margin-bottom: 148px;
}

.taste-name {
  order: 3;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--font-white, #FFFFFF);
  margin: 0;
  text-align: center;
}

.taste-name span {
  border-bottom: 1px solid var(--underlay, rgba(255, 255, 255, 0.2));
}

.price {
  order: 2;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: var(--font-white, #FFFFFF);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
  margin-bottom: 26px;
}

.price span {
  font-size: 30px;
  line-height: 35px;
}

.popular-item .orange-button {
  display: none;
}

.popular-item:hover .orange-button {
  display: block;
  width: 200px;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 0px 1px 2px #AC1000;

  font-size: 18px;
  line-height: 24px;

  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 16px;
  margin: 0 auto;
}

.popular-item .orange-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.popular-item .orange-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* About */

.about-section {
  color: var(--font-dark, #323232);

  box-sizing: border-box;
  background-image: url("../img/wafle_pattern.png");
  border-radius: 16px;

  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 29px;
  padding-left: 20px;

  margin-bottom: 40px;
}

.about-section p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
  margin-bottom: 16px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  padding: 0;
  margin: 0;
}

.features-list p {
  position: relative;

  font-size: 16px;
  line-height: 22px;
  width: 485px;

  padding-left: 55px;
  margin: 0;
}

.features-list li:first-of-type {
  order: 1;
  margin-right: 26px;
  margin-bottom: 23px;
}

.features-list li:nth-of-type(2) {
  order: 3;
  margin-right: 26px;
}

.features-list li:nth-of-type(3) {
  order: 2;
  margin-bottom: 23px;
}

.features-list li:last-of-type {
  order: 4;
}

.features-list p::before {
  position: absolute;
  top: -9px;
  left: 0;
}

.features-list li:first-of-type p::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.features-list li:nth-of-type(2) p::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
}

.features-list li:nth-of-type(3) p::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.features-list li:last-of-type p::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

/* Blog and mailing */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-article {
  width: 560px;
  height: 220px;
  box-sizing: border-box;

  background-image: url("../img/strawberry.png");
  background-repeat: no-repeat;

  padding-top: 18px;
  padding-right: 253px;
  padding-left: 20px;
  margin-right: 26px;
}

.blog-article h3 {
  font-size: 16px;
  line-height: 22px;
  color: var(--font-dark, #323232);

  margin: 0;
  margin-bottom: 3px;
}

.blog-article a {
  font-size: 24px;
  font-weight: 700;;
  line-height: 30px;
  color: var(--font-dark, #323232);

  text-decoration: underline;
}

.blog-article a:hover,
.blog-article a:active {
  color: #E84D37;
}

.mailing-section {
  width: 560px;
  height: 220px;
  box-sizing: border-box;
  border-radius: 16px;

  background-image: url("../img/mail-background.png");
  background-repeat: no-repeat;

  padding: 5px 6px;
}

.mailing-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #F8F7F4;
  border-radius: 16px;

  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.mailing-content p {
  font-size: 16px;
  line-height: 22px;
  color: var(--font-grey, #5A5A5A);

  margin: 0;
  margin-bottom: 41px;
}

.mailing-content form {
  display: flex;
}

.mailing-content input {
  width: 368px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;

  padding-top: 2px;
  padding-right: 13px;
  padding-left: 13px;

  margin-right: 10px;
}

.mailing-content .orange-button {
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  border: none;
  border-radius: 70px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);

  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 19px;
}

.mailing-content .orange-button:focus,
.mailing-content .orange-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
  outline: none;
}

.mailing-content .orange-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* Map */

.map-section {
  position: relative;
  height: 430px;
}

.map-section iframe {
  position: absolute;
  z-index: 1;

  border: none;
}

.map-section img {
  height: 100%;
}

.contact-box {
  position: absolute;
  top: 62px;
  right: 100px;
  z-index: 2;

  width: 303px;
  height: 306px;
  box-sizing: border-box;
  border-radius: 16px;

  background-color: #FEFEFE;

  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 31px;
  padding-left: 25px;
}

.contact-box p {
  font-size: 14px;
  line-height: 20px;
  color: var(--font-dark, #323232);

  margin: 0;
  margin-bottom: 22px;
}

.contact-box p:last-of-type {
  margin-bottom: 29px;
}

.contact-box span,
.contact-box a:not(.orange-button) {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--font-dark, #323232);
}

.contact-box a:not(.orange-button):hover,
.contact-box a:not(.orange-button):active {
  color: #E84D37;
}

.contact-box .orange-button {
  display: block;
  box-sizing: border-box;
  border-radius: 70px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);

  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(70, 68, 68, 0.76);

  padding-top: 9px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
}

.contact-box .orange-button:focus,
.contact-box .orange-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
  outline: none;
}

.contact-box .orange-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* Footer */

.main-footer {
  display: flex;
  padding-top: 19px;
  padding-bottom: 25px;
}

.main-footer ul {
  list-style: none;
}

.social {
  display: flex;
  padding: 0;
  padding-top: 14px;
  margin: 0;
  margin-right: 254px;
}

.social li:not(:last-of-type) {
  margin-right: 8px;
}

a:hover .icon-background,
a:active .icon-background {
  opacity: 1;
  fill-opacity: 1;
}

.useful-links {
  display: flex;
  flex-direction: column;
  padding-top: 12px;

  margin-right: 230px;
}

.useful-links ul {
  display: flex;
  padding: 0;
}

.top-links {
  margin: 0;
  margin-bottom: 4px;
}

.bottom-links {
  margin: 0;
}

.top-links li:first-of-type {
  margin-right: 32px;
}

.bottom-links li:first-of-type {
  margin-right: 45px;
}

.useful-links a {
  font-size: 13px;
  line-height: 18px;
  color: var(--font-white, #FFFFFF);

  border-bottom: 1px solid var(--underlay, rgba(255, 255, 255, 0.2));
}

.useful-links a.for-suppliers {
  position: relative;
  font-weight: 700;
}

.useful-links .for-suppliers::before {
  position: absolute;
  top: 2px;
  left: -22px;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.useful-links a:hover,
.useful-links a:active {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.created-by p,
.created-by a {
  font-size: 12px;
  line-height: 18px;
  color: var(--font-white, #FFFFFF);

  margin: 0;
}

.created-by a:nth-child(2) {
  border: none;
}

.created-by a {
  border-bottom: 1px solid var(--nav-underline, rgba(255, 255, 255, 0.2));
}

.created-by a:hover {
  color: #FFBC9E;
}

/* Popups */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);;
}

.overlay-show {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  background-color: #F8F7F4;
  border-radius: 6px;
}

.popup-show {
  display: block;
}

.cross-button {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 18px;
  height: 17px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.popup-contact-us {
  top: calc(50% - 220px);
  left: calc(50% - 238px);
  width: 477px;
  height: 441px;

  box-sizing: border-box;

  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 25px;
}

.popup-contact-us p {
  margin: 0;
  margin-bottom: 20px;
}

.popup-contact-us p:nth-child(3) {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #323232;
}

.popup-username input,
.popup-email input {
  width: 267px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;

  padding-top: 2px;
  padding-right: 13px;
  padding-left: 13px;
}

.popup-contact-us textarea {
  width: 428px;
  height: 154px;
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;

  font-size: 16px;
  line-height: 20px;
  color: #999999;

  padding-top: 11px;
  padding-right: 13px;
  padding-bottom: 12px;
  padding-left: 13px;
}

.popup-contact-us .popup-letter {
  margin-bottom: 19px;
}

.popup-contact-us-footer {
  display: flex;
  justify-content: flex-end;
}

.popup-contact-us-footer .orange-button {
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  border: none;
  border-radius: 70px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
}

.popup-contact-us-footer .orange-button:focus,
.popup-contact-us-footer .orange-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
  outline: none;
}

.popup-contact-us-footer .orange-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* Other */

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.orange-button {
  font-weight: 700;
  color: var(--font-white, #FFFFFF);

  background: linear-gradient(180deg, var(--button-gradient-start, #F26843) 0%, var(--button-gradient-end, #E74A35) 100%);
}
